*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000826;

}

.todo-heading{
    color: #FFEE28;
    font-family:poppins,sans-serif;
}
.todo-list{
    max-width: 500px;
}
